.main-table {
    border: 2px solid red;
    border-radius: 20px;
}

#inner-table {
    border: 3px solid blue;
    border-spacing: 0;
}

td,
th {
    border: 1px solid green !important;
}

th {
    background-color: grey;
}